<div class="row" id="lineaInferior"></div>

<br>
<br>

<div class="row justify-content-center">
    <div class="col-md-6 login-form-1">
        <form>
            <picture>
                <img id="librorojo" src="\assets\imagenes\librorojo.jpg" class="mx-auto d-block" style="width:25%">
            </picture>
            <br><br>
            <div class="form-group">
                <input type="text" name="usuario" class="form-control" placeholder="Introduzca su número de TIP" [(ngModel)]="usuario.usuario" />
            </div>
            <br>
            <div class="form-group">
                <input [type]="show ? 'text' : 'password'" name="contraseña" class="form-control" placeholder="Introduzca su contraseña" [(ngModel)]="usuario.contrasena"/>
            </div>
            <div class="campo">
                <input  class="checkbox" type="checkbox" name="password" id="password" (click)="mostrarContrasena()">
                <span>Ver contraseña</span>
            </div>
            <br>
            <div class="form-group">
                <a class="nav-link"(click)="login()"><button type="submit"
                        class="btn btn-success">Login</button></a>
            </div>
            <br>
            <div class="form-group">
                <a class="ForgetPwd" href="mailto:gestioncontraseñasLEVO@guardiacivil.es">¿Ha olvidado su contraseña?</a>
            </div>
        </form>
    </div>
</div>

<br>
<br>