
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* el texto del documento se centra */
* {
  text-align: center;
}
/* el color del background del body es #EEEEEE */
main {
  background-color: #EEEEEE;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

