header {
  color: #fdd835;
  background-color: #292b3a;
  height: 6rem;
  width: 100%;
}

#columnaLogo {
  margin-top: 1rem;
}

#logoGCleft {
  height: 75px;
  width: 50px;
}

#logoGCright {
  height: 75px;
  width: 50px;
}

#levo {
  margin-top: 0, 5rem;
}