<div class="row" id="lineaInferior">
  <div class=" col-2"></div>
  <div class=" col-8">
  <p class="fs-x"> Alta Vehículo</p></div>
  <div class=" col-2">
    <fa-icon [icon]="volver" (click)="goBack()"></fa-icon>
    <p>Volver</p>
  </div>
</div>

<mat-stepper #stepper>

  <!-- Primer step -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>DATOS IDENTIFICATIVOS</ng-template>

      <br>

      <div class="row">

        <div class="col-xl-6">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Matrícula</mat-label>
            <input type="text" matInput placeholder="PGC0000A" formControlName="matricula"
              [(ngModel)]="vehiculo.matricula" maxlength="8" minlength="8" />
          </mat-form-field>
        </div>

        <div class="col-xl-6">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Fecha Alta</mat-label>
            <input type="date" matInput placeholder="mm/dd/aaaa" formControlName="fechaAlta"
              [(ngModel)]="vehiculo.fechaAlta"  />
          </mat-form-field>
          
          
        </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">

        <div class="col-xl-4">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Marca</mat-label>
            <input type="text" matInput formControlName="marca" [(ngModel)]="vehiculo.marca"  />
          </mat-form-field>
          
        </div>

        <div class="col-xl-4">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Modelo</mat-label>
            <input type="text" matInput formControlName="modelo" [(ngModel)]="vehiculo.modelo"  />
          </mat-form-field>
          
        </div>

        <div class="col-xl-4">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Tipo Vehículo</mat-label>
            <mat-select matInput type="text" formControlName="tipoVehiculo" [(ngModel)]="vehiculo.tipo" >
              <mat-option selected></mat-option>
              <mat-option value="Turismo">Turismo</mat-option>
              <mat-option value="Todo Terreno">Todo Terreno</mat-option>
              <mat-option value="Motocicleta">Motocicleta</mat-option>
              <mat-option value="Otros">Otros</mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">

        <div class="col-xl-6">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Unidad Destino</mat-label>
            <input type="text" matInput formControlName="unidadDestino"
              [(ngModel)]="vehiculo.unidadDestino"  />
          </mat-form-field>
          
        </div>

        <div class="col-xl-6">
          <mat-form-field class="fs-5" appearance="outline">
            <mat-label>Fecha Adjudicación</mat-label>
            <input type="date" matInput placeholder="dd/mm/aaaa" formControlName="fechaAdjudicacion"
              [(ngModel)]="vehiculo.fechaAdjudicacion"  />
          </mat-form-field>
         
        </div>

      </div>

      <br>

      <div>
        <button class="btn btn-primary btn-md" mat-button matStepperNext >Siguiente</button>
      </div>

      <br>

    </form>
  </mat-step>

  <!-- Segundo step -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>DATOS TÉCNICOS DE INTERES</ng-template>

      <br>

      <div class="row">

        <div class="col-xl-3">
          <mat-form-field class="fs-6" appearance="outline">
            <mat-label>Nº Bastidor</mat-label>
            <input type="text" matInput placeholder="vdbnkplpkffej32442" formControlName="bastidor"
              [(ngModel)]="datosTecnicosInteres.bastidor" maxlength="17" />
          </mat-form-field>
          
          <div *ngIf= "secondFormGroup.get('bastidor')?.touched && secondFormGroup.get('bastidor')?.errors?.['minlength']" class="alert alert-danger">Debe tener {{secondFormGroup.get('bastidor')?.touched && secondFormGroup.get('bastidor')?.errors?.['minlength'].requiredLength}} caracteres</div>
        </div>

        <div class="col-xl-3">
          <mat-form-field class="fs-6" appearance="outline">
            <mat-label>Color Carrocería</mat-label>
            <input type="text" matInput placeholder="Bicolor" formControlName="color"
              [(ngModel)]="datosTecnicosInteres.color"  />
          </mat-form-field>
          
        </div>

        <div class="col-xl-3">
          <mat-form-field class="fs-6" appearance="outline">
            <mat-label>Clasif Medioambiental</mat-label>
            <mat-select matInput type="text" formControlName="clasificacionMedioambiental"
              [(ngModel)]="datosTecnicosInteres.clasificacionMedioambiental" >
              <mat-option selected></mat-option>
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>
              <mat-option value="ECO">ECO</mat-option>
              <mat-option value="CERO">CERO</mat-option>
            </mat-select>
            </mat-form-field>
            
        </div>

        <div class="col-xl-3">
          <mat-form-field class="fs-6" appearance="outline">
            <mat-label>Tipo Cambio</mat-label>
            <mat-select matInput type="text" formControlName="cambio" [(ngModel)]="datosTecnicosInteres.cambio" >
              <mat-option selected></mat-option>
              <mat-option value="Manual">Manual</mat-option>
              <mat-option value="Automatico">Automático</mat-option>
            </mat-select>
            </mat-form-field>
            
        </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">
        <p class="fs-5">Combustible</p>

          <div class="col-xl-6">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Tipo Combustible</mat-label>
              <mat-select matInput type="text" formControlName="combustible"
                [(ngModel)]="datosTecnicosInteres.combustible" >
                <mat-option selected></mat-option>
                <mat-option value="Diesel">Diesel</mat-option>
                <mat-option value="Gasolina">Gasolina</mat-option>
                <mat-option value="Eléctrico">Eléctrico</mat-option>
                <mat-option value="Híbrido autónomo">Híbrido autónomo</mat-option>
                <mat-option value="Híbrido enchufable">Híbrido enchufable</mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>

          <div class="col-xl-6">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Capacidad Depósito</mat-label>
              <input type="number" matInput formControlName="capacidadDeposito"
                [(ngModel)]="datosTecnicosInteres.capacidadDeposito"  />
              <span matSuffix>Litros</span>
            </mat-form-field>
           
          </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">
        <p class="fs-5">Aceite</p>

          <div class="col-xl-6">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Lubricante</mat-label>
              <input type="text" matInput placeholder="5W30 SYNTETIC" formControlName="lubricanteMotor"
                [(ngModel)]="datosTecnicosInteres.lubricanteMotor"  />
            </mat-form-field>
            
          </div>

          <div class="col-xl-6">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Capacidad Carter</mat-label>
              <input type="number" matInput formControlName="capacidadCarter"
                [(ngModel)]="datosTecnicosInteres.capacidadCarter"  />
              <span matSuffix>Litros</span>
            </mat-form-field>
            
          </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">
        <p class="fs-5">Neumáticos</p>

          <div class="col-xl-4">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Presión Delanteros</mat-label>
              <input type="number" matInput formControlName="presionNeumaticosDelanteros"
                [(ngModel)]="datosTecnicosInteres.presionNeumaticosDelanteros"  />
              <span matSuffix>bar</span>
            </mat-form-field>
            
          </div>

          <div class="col-xl-4">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Presión Traseros</mat-label>
              <input type="number" matInput formControlName="presionNeumaticosTraseros"
                [(ngModel)]="datosTecnicosInteres.presionNeumaticosTraseros"  />
              <span matSuffix>bar</span>
            </mat-form-field>
           
          </div>

          <div class="col-xl-4">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Tipo Cubiertas</mat-label>
              <input type="text" matInput placeholder="255/R17Y" formControlName="tipoCubiertas"
                [(ngModel)]="datosTecnicosInteres.tipoCubiertas"  />
            </mat-form-field>
           
          </div>

      </div>

      <br>
      <hr>
      <br>

      <div class="row">
        <p class="fs-5">Baterías</p>

          <div class="col-xl-3">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Nº Baterías</mat-label>
              <input type="number" matInput formControlName="numeroBaterias"
                [(ngModel)]="datosTecnicosInteres.numeroBaterias"  />
            </mat-form-field>
            
          </div>

          <div class="col-xl-3">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Amperios/Hora</mat-label>
              <input type="number" matInput formControlName="amperiosHoraBaterias"
                [(ngModel)]="datosTecnicosInteres.amperiosHoraBaterias"  />
              <span matSuffix>amp/h</span>
            </mat-form-field>
            
          </div>

          <div class="col-xl-3">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Amperaje:</mat-label>
              <input type="number" matInput formControlName="amperajeBaterias"
                [(ngModel)]="datosTecnicosInteres.amperajeBaterias"  />
              <span matSuffix>amp</span>
              </mat-form-field>
              
          </div>

          <div class="col-xl-3">
            <mat-form-field class="fs-6" appearance="outline">
              <mat-label>Voltaje:</mat-label>
              <input type="number" matInput formControlName="voltajeBaterias"
                [(ngModel)]="datosTecnicosInteres.voltajeBaterias"  />
              <span matSuffix>V</span>
            </mat-form-field>
            
          </div>

      </div>

      <br><br>

      <div>
        <button class="btn btn-warning btn-md" mat-button matStepperPrevious>Atrás</button>
          &nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary btn-md" mat-button matStepperNext >Siguiente</button>
      </div>

      <br>

    </form>
  </mat-step>

  <!-- Tercer step -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
    <ng-template matStepLabel> PLAN PREVENTIVO</ng-template>

      <div class="row">

        <div class="col-xl-12">
          <mat-form-field class="fs-6" appearance="outline">
            <mat-label>Condiciones Uso</mat-label>
            <mat-select matInput type="text" formControlName="condicionesUso" [(ngModel)]="mantenimientoPreventivo.condicionesUso" required >
              <mat-option selected></mat-option>
              <mat-option value="Normales">Normales</mat-option>
              <mat-option value="Severas">Severas</mat-option>
            </mat-select>
            </mat-form-field>
            
        </div>

      </div>

      <div class="container overflow-hidden text-center">

        <div class="row gx-5">

          <div class="col">
            <div class="p-3 border bg-light">
              <table class="table">

                <thead>
                  <tr>
                    <th scope="col">Acción</th>
                    <th scope="col">Kilómetros</th>
                    <th scope="col">Meses</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <th scope="row">Líquido de frenos</th>
                    <td>
                      <input matInput type="number" formControlName="liquidoFrenosKm"
                        [(ngModel)]="mantenimientoPreventivo.liquidoFrenosKm">
                    </td>
                    <td><input matInput type="number" formControlName="liquidoFrenosMes"
                        [(ngModel)]="mantenimientoPreventivo.liquidoFrenosMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">* Operaciones Sistemáticas</th>
                    <td>
                      <input matInput type="number" formControlName="operacionesSistematicasKm"
                        [(ngModel)]="mantenimientoPreventivo.operacionesSistematicasKm">
                    </td>
                    <td>
                      <input matInput type="number" formControlName="operacionesSistematicasMes"
                        [(ngModel)]="mantenimientoPreventivo.operacionesSistematicasMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Filtro de Aire</th>
                    <td>
                      <input matInput type="number" formControlName="filtroAireKm"
                        [(ngModel)]="mantenimientoPreventivo.filtroAireKm">
                    </td>
                    <td>
                      <input matInput type="number" formControlName="filtroAireMes"
                        [(ngModel)]="mantenimientoPreventivo.filtroAireMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Filtro de Aire Habitáculo</th>
                    <td>
                      <input matInput type="number" formControlName="filtroAireHabitaculoKm"
                        [(ngModel)]="mantenimientoPreventivo.filtroAireHabitaculoKm">
                    </td>
                    <td><input matInput type="number" formControlName="filtroAireHabitaculoMes"
                        [(ngModel)]="mantenimientoPreventivo.filtroAireHabitaculoMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Filtro Combustible</th>
                    <td>
                      <input matInput type="number" formControlName="filtroCombustibleKm"
                        [(ngModel)]="mantenimientoPreventivo.filtroCombustibleKm">
                    </td>
                    <td><input matInput type="number" formControlName="filtroCombustibleMes"
                        [(ngModel)]="mantenimientoPreventivo.filtroCombustibleMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Filtro Antipolen</th>
                    <td>
                      <input matInput type="number" formControlName="filtroAntipolenKm"
                        [(ngModel)]="mantenimientoPreventivo.filtroAntipolenKm">
                    </td>
                    <td><input matInput type="number" formControlName="filtroAntipolenMes"
                        [(ngModel)]="mantenimientoPreventivo.filtroAntipolenMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Correa de Distribución</th>
                    <td>
                      <input matInput type="number" formControlName="correaDistribucionKm"
                        [(ngModel)]="mantenimientoPreventivo.correaDistribucionKm">
                    </td>
                    <td><input matInput type="number" formControlName="correaDistribucionMes"
                        [(ngModel)]="mantenimientoPreventivo.correaDistribucionMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Kit de Distribución</th>
                    <td>
                      <input matInput type="number" formControlName="kitDistribucionKm"
                        [(ngModel)]="mantenimientoPreventivo.kitDistribucionKm">
                    </td>
                    <td><input matInput type="number" formControlName="kitDistribucionMes"
                        [(ngModel)]="mantenimientoPreventivo.kitDistribucionMes">
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>

          <div class="col">
            <div class="p-3 border bg-light">
              <table class="table">

                <thead>
                  <tr>
                    <th scope="col">Acción</th>
                    <th scope="col">Kilómetros</th>
                    <th scope="col">Meses</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <th scope="row">Reglaje Proyectores</th>
                    <td>
                      <input matInput type="number" formControlName="reglajeProyectoresKm"
                        [(ngModel)]="mantenimientoPreventivo.reglajeProyectoresKm">
                    </td>
                    <td><input matInput type="number" formControlName="reglajeProyectoresMes"
                        [(ngModel)]="mantenimientoPreventivo.reglajeProyectoresMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Ph Liquido Refrigeración</th>
                    <td>
                      <input matInput type="number" formControlName="pHLiquidoRefrigeracionKm"
                        [(ngModel)]="mantenimientoPreventivo.pHLiquidoRefrigeracionKm">
                    </td>
                    <td><input matInput type="number" formControlName="pHLiquidoRefrigeracionMes"
                        [(ngModel)]="mantenimientoPreventivo.pHLiquidoRefrigeracionMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Líquido Refrigeración</th>
                    <td>
                      <input matInput type="number" formControlName="liquidoRefrigeracionKm"
                        [(ngModel)]="mantenimientoPreventivo.liquidoRefrigeracionKm">
                    </td>
                    <td><input matInput type="number" formControlName="liquidoRefrigeracionMes"
                        [(ngModel)]="mantenimientoPreventivo.liquidoRefrigeracionMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Correa Arrastre Accesorios</th>
                    <td>
                      <input matInput type="number" formControlName="correaArrastreAccesoriosKm"
                        [(ngModel)]="mantenimientoPreventivo.correaArrastreAccesoriosKm">
                    </td>
                    <td><input matInput type="number" formControlName="correaArrastreAccesoriosMes"
                        [(ngModel)]="mantenimientoPreventivo.correaArrastreAccesoriosMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Kit Correa Arrastr Accesorios</th>
                    <td>
                      <input matInput type="number" formControlName="kitCorreaArrastreAccesoriosKm"
                        [(ngModel)]="mantenimientoPreventivo.kitCorreaArrastreAccesoriosKm">
                    </td>
                    <td><input matInput type="number" formControlName="kitCorreaArrastreAccesoriosMes"
                        [(ngModel)]="mantenimientoPreventivo.kitCorreaArrastreAccesoriosMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Anticongelante</th>
                    <td>
                      <input matInput type="number" formControlName="anticongelanteKm"
                        [(ngModel)]="mantenimientoPreventivo.anticongelanteKm">
                    </td>
                    <td><input matInput type="number" formControlName="anticongelanteMes"
                        [(ngModel)]="mantenimientoPreventivo.anticongelanteMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Aceite Transmisión</th>
                    <td>
                      <input matInput type="number" formControlName="aceiteTransmisionKm"
                        [(ngModel)]="mantenimientoPreventivo.aceiteTransmisionKm">
                    </td>
                    <td><input matInput type="number" formControlName="aceiteTransmisionMes"
                        [(ngModel)]="mantenimientoPreventivo.aceiteTransmisionMes">
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Bujías Encendido</th>
                    <td>
                      <input matInput type="number" formControlName="bujiasEncendidoKm"
                        [(ngModel)]="mantenimientoPreventivo.bujiasEncendidoKm">
                    </td>
                    <td><input matInput type="number" formControlName="bujiasEncendidoMes"
                        [(ngModel)]="mantenimientoPreventivo.bujiasEncendidoMes">
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>

        </div>

      </div>


      <p class="fs-6">* Operaciones Sistemáticas: Cambio de aceite motor, inspeccion general del vehiculo (estado
          neumáticos, faros, luces, frenos, limpiaparabrisas, dirección...)</p>

      <br><br>

      <div>
        <button class="btn btn-warning btn-md" mat-button matStepperPrevious>Atrás</button>
        &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-md" mat-button (click)="onAddVehiculo()" [disabled]="firstFormGroup.invalid&&secondFormGroup&&thirdFormGroup.invalid" routerLink="/administrador/vehiculos">Guardar</button>
      </div>

      <br>

    </form>
  </mat-step>

</mat-stepper>
